---
// Phase 4: Full implementation to be ported from endusers-website
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CNCF End User Community</title>
</head>
<body>
  <h1>CNCF End Users (scaffold)</h1>
</body>
</html>
